html, body {
  height: 100%;
  min-height: 768px;
  min-width: 1366px;
}

div {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc !important;
}

input[type="button"],
input[type="submit"] {
  border: 0 none;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
.input-focus {
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
.input-focus {
  border-color: #408cdf;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

/* 3D 旋转盒子 */
.box-3d {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  color: #000;
  /*开启3D*/
  transform-style: preserve-3d;
  /*设置3D盒子的变换中心点*/
  transform-origin: center center -50px;
  animation: anim 10s linear infinite alternate;
}

@keyframes anim {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.box-3d .box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 36px;
  position: absolute;
}

.box-3d .box1 {
  background-color: rgba(255, 0, 0, .3);
  color: rgb(0, 255, 255);
  top: -100px;
  transform-origin: bottom;
  transform: rotateX(90deg)
}

.box-3d .box2 {
  background-color: rgba(0, 255, 0, .3);
  color: rgb(255, 0, 255);
  left: 100px;
  transform-origin: left;
  transform: rotateY(90deg)
}

.box-3d .box3 {
  background-color: rgba(0, 0, 255, .3);
  color: rgb(255, 255, 0);
  top: 100px;
  transform-origin: top;
  transform: rotateX(-90deg)
}

.box-3d .box4 {
  background-color: rgba(255, 255, 0, .3);
  color: rgb(0, 0, 255);
  left: -100px;
  transform-origin: right;
  transform: rotateY(-90deg)
}

.box-3d .box5 {
  background-color: rgba(255, 0, 255, .3);
  color: rgb(0, 255, 0);
  transform: translateZ(-100px)
}

.box-3d .box6 {
  background-color: rgba(0, 255, 255, .3);
  color: rgb(255, 0, 0);
}

/* 3D 旋转照片墙 */

/* 隐藏由于图片旋转而多余出来的空白 */
.image-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.image-3d {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -100px;
  transform-style: preserve-3d;
  perspective: 400px;
  height: 300px;
  width: 200px;
}

.image-3d img {
  width: 200px;
  position: absolute;
}

/* 页脚 */
.footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  padding: 20px;
  text-align: center;
  color: #bfbfbf;
}