html, body {
  height: 100%;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

body {
  background: #333 url(../images/bg.png);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc !important;
}

input {
  outline: none;
}

input[type="button"],
input[type="submit"] {
  border: 0 none;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
.input-focus {
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
.input-focus {
  border-color: #408cdf;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* bb8 机器人 */
.bb8 {
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: -3;
}

.bb8 div {
  position: absolute;
  width: 120px;
  height: 78px;
  margin-left: -60px;
  margin-top: -145px;
  background-color: white;
  background-image: radial-gradient(circle at 85px 50px,#555 5px,transparent 6px),radial-gradient(circle at 85px 50px,white 7px,transparent 8px),radial-gradient(circle at 85px 50px,#555 10px,transparent 11px),radial-gradient(circle at 58px 32px,rgba(255,255,255,0.9) 2px,transparent 3px),radial-gradient(circle at 52px 36px,#333 12px,transparent 13px),radial-gradient(circle at 52px 36px,#555 16px,transparent 17px),radial-gradient(circle at 52px 37px,white 20px,transparent 20px),linear-gradient(to top,#aaa 7px,transparent 7px),linear-gradient(to bottom,white 7px,#ccc 7px,#aaa 15px,white 15px,white 18px,#ffa500 18px,#ffa500 24px,transparent 24px),linear-gradient(to right,transparent 29px,#ccc 30px,#ccc 31px,transparent 31px,transparent 60px,#ccc 61px,#ccc 62px,transparent 62px),linear-gradient(to right,transparent 5px,white 5px,white 10px,transparent 10px,transparent 30px,white 30px,white 40px,transparent 40px,transparent 50px,white 50px,white 100px,transparent 100px,transparent 115px,white 115px),linear-gradient(to top,#ffa500 16px,transparent 16px);
  border-radius: 50%/60px;
  border-bottom-right-radius: 50px 10px;
  border-bottom-left-radius: 50px 10px;
  border-bottom: 8px solid #ccc;
  -webkit-box-shadow: inset -5px -2px 20px rgba(0,0,0,0.4);
  box-shadow: inset -5px -2px 20px rgba(0,0,0,0.4);
}

.bb8 div:before, .bb8 div:after {
  display: block;
  content: '';
  position: absolute;
}

.bb8 div:before {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: 79px;
  left: 50%;
  background-color: white;
  background-image: radial-gradient(ellipse at top right,#ffa500 50px,transparent 50px),radial-gradient(ellipse at bottom right,#ffa500 50px,transparent 50px),radial-gradient(ellipse at top left,#ffa500 50px,transparent 50px),radial-gradient(ellipse at bottom left,#ffa500 50px,transparent 50px),radial-gradient(circle at 100px 100px,transparent 60px,white 61px),radial-gradient(circle at 100px 100px,transparent 44px,#ffa500 45px),linear-gradient(to bottom,transparent 90px,white 90px,white 93px,transparent 93px,transparent 99px,white 99px,white 103px,transparent 103px,transparent 108px,white 108px,white 112px,transparent 112px),radial-gradient(circle at 100px 100px,#aaa 24px,transparent 25px),radial-gradient(circle at 100px 100px,white 28px,transparent 29px),linear-gradient(-45deg,transparent 132px,white 132px,white 136px,#ffa500 136px,#ffa500 152px,white 152px,white 155px,transparent 155px),linear-gradient(45deg,transparent 129px,white 129px,white 133px,#ffa500 133px,#ffa500 150px,white 150px,white 153px,transparent 153px),linear-gradient(to bottom,transparent 75px,white 75px,white 119px,transparent 119px),radial-gradient(circle at 100px 100px,#aaa 40px,transparent 41px),radial-gradient(circle at 100px 100px,white 44px,transparent 45px);
  border-radius: 50%;
  z-index: -2;
  -webkit-animation: spin .8s infinite linear;
  animation: spin .8s infinite linear;
}

.bb8 div:after {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: 79px;
  left: 50%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.6) 10px,transparent 15px);
  -webkit-box-shadow: inset 0 -20px 30px rgba(0,0,0,0.5);
  box-shadow: inset 0 -20px 30px rgba(0,0,0,0.5);
  z-index: -1;
  -webkit-transform: translate3d(0,0,0);
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0) translateZ(0) translateX(0);
      transform: rotate(0) translateZ(0) translateX(0);
  }
  100% {
      -webkit-transform: rotate(-360deg) translateZ(0) translateX(500px);
      transform: rotate(-360deg) translateZ(0) translateX(500px);
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0) translateZ(0);
      transform: rotate(0) translateZ(0);
  }
  100% {
      -webkit-transform: rotate(-360deg) translateZ(0);
      transform: rotate(-360deg) translateZ(0);
  }
}

/* 3D 旋转盒子 */
.box-3d {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  z-index: -1;
  color: #000;
  /*开启3D*/
  transform-style: preserve-3d;
  /*设置3D盒子的变换中心点*/
  transform-origin: center center -50px;
  animation: anim 10s linear infinite alternate;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.box-3d .box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 36px;
  position: absolute;
}

.box-3d .box1 {
  background-color: rgba(255, 0, 0, .3);
  color: rgb(0, 255, 255);
  top: -100px;
  transform-origin: bottom;
  transform: rotateX(90deg)
}

.box-3d .box2 {
  background-color: rgba(0, 255, 0, .3);
  color: rgb(255, 0, 255);
  left: 100px;
  transform-origin: left;
  transform: rotateY(90deg)
}

.box-3d .box3 {
  background-color: rgba(0, 0, 255, .3);
  color: rgb(255, 255, 0);
  top: 100px;
  transform-origin: top;
  transform: rotateX(-90deg)
}

.box-3d .box4 {
  background-color: rgba(255, 255, 0, .3);
  color: rgb(0, 0, 255);
  left: -100px;
  transform-origin: right;
  transform: rotateY(-90deg)
}

.box-3d .box5 {
  background-color: rgba(255, 0, 255, .3);
  color: rgb(0, 255, 0);
  transform: translateZ(-100px)
}

.box-3d .box6 {
  background-color: rgba(0, 255, 255, .3);
  color: rgb(255, 0, 0);
}

/* 主内容 */
.content {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  text-align: center;
  -webkit-animation: pulse 1s infinite alternate;
  -moz-animation: pulse 1s infinite alternate;
  animation: pulse 1s infinite alternate;
}

.content:hover {
  margin-top: 0;
  animation: none;
}

@-o-keyframes pulse {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 6px; 
  } 
}
@-moz-keyframes pulse {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 6px; 
  } 
}
@-webkit-keyframes pulse {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 6px; 
  } 
}
@keyframes pulse {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 6px; 
  } 
}

/* 搜索框 */
.search {
  position: relative;
}
.search .url {
  display: inline-block;
  padding: 4px 20px;
  width: 420px;
  height: 34px;
  border: 1px solid #409eff;
  border-radius: 20px;
  background: #FFF;
  color: #333;
  font-size: 16px;
  line-height: 34px;
}

input[type="url"]:focus {
  border-color: #40df78;
}

/* 单选线路 */
.line-box {
  display: inline-block;
}

.line-box .line {
  display: inline-block;
  border: 1px solid #dcdfe6;
  border-radius: 20px;
  padding: 3px;
}

.line-box .line:hover {
  border-style: dashed;
}

.line-box label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

/* 提交按钮 */
.search .button {
  /* position: absolute; */
  display: inline-block;
  overflow: hidden;
  padding: 0 20px;
  height: 46px;
  border: 3px solid #d7d7d7;
  border-radius: 20px;
  background: #fdfdfd;
  background: -webkit-linear-gradient(top,#409eff,#18c009);
  background: -moz-linear-gradient(top,#409eff,#18c009);
  background: -ms-linear-gradient(top,#409eff,#18c009);
  background: -o-linear-gradient(top,#409eff,#18c009);
  background: linear-gradient(top,#409eff,#18c009);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.search .button:hover {
  background: hsla(220, 100%, 60%, 1);
}

input[type="button"]:focus {
  border-color: #40df78;
}

#colorful {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

/* 使用说明 */
.instruction {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  text-align: left;
  line-height: 30px;
}

/* 发光圆形 */
.luminous {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -355px;
  z-index: -2;
}

.round {
  position: relative;
  border-radius: 50%;
  background: #333333;
  float: left;
  margin-left: 20px;
  box-shadow: inset -1px 1px 4px 2px #444, inset 1px -1px 4px 2px #222;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.round:nth-child(n):hover {
  -webkit-animation: bs2 linear 1s 1s infinite, bs2-in 1s;
  -moz-animation: bs2 linear 1s 1s infinite, bs2-in 1s;
  animation: bs2 linear 1s 1s infinite, bs2-in 1s;
}

.round:nth-child(1) {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  -webkit-animation: bs linear 2s 0.5s infinite;
  -moz-animation: bs linear 2s 0.5s infinite;
  animation: bs linear 2s 0.5s infinite;
}

.round:nth-child(2) {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  -webkit-animation: bs linear 2s 0.7s infinite;
  -moz-animation: bs linear 2s 0.7s infinite;
  animation: bs linear 2s 0.7s infinite;
}

.round:nth-child(3) {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  -webkit-animation: bs linear 2s 0.9s infinite;
  -moz-animation: bs linear 2s 0.9s infinite;
  animation: bs linear 2s 0.9s infinite;
}

.round:nth-child(4) {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  -webkit-animation: bs linear 2s 1.1s infinite;
  -moz-animation: bs linear 2s 1.1s infinite;
  animation: bs linear 2s 1.1s infinite;
}

.round:nth-child(5) {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  -webkit-animation: bs linear 2s 1.3s infinite;
  -moz-animation: bs linear 2s 1.3s infinite;
  animation: bs linear 2s 1.3s infinite;
}

.round:nth-child(6) {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  -webkit-animation: bs linear 2s 1.5s infinite;
  -moz-animation: bs linear 2s 1.5s infinite;
  animation: bs linear 2s 1.5s infinite;
}

.round:nth-child(7) {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  -webkit-animation: bs linear 2s 1.7s infinite;
  -moz-animation: bs linear 2s 1.7s infinite;
  animation: bs linear 2s 1.7s infinite;
}

.round:nth-child(8) {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  -webkit-animation: bs linear 2s 1.9s infinite;
  -moz-animation: bs linear 2s 1.9s infinite;
  animation: bs linear 2s 1.9s infinite;
}

.round:nth-child(9) {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  -webkit-animation: bs linear 2s 2.1s infinite;
  -moz-animation: bs linear 2s 2.1s infinite;
  animation: bs linear 2s 2.1s infinite;
}

.round:nth-child(10) {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  -webkit-animation: bs linear 2s 2.3s infinite;
  -moz-animation: bs linear 2s 2.3s infinite;
  animation: bs linear 2s 2.3s infinite;
}

.round:nth-child(11) {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  -webkit-animation: bs linear 2s 2.5s infinite;
  -moz-animation: bs linear 2s 2.5s infinite;
  animation: bs linear 2s 2.5s infinite;
}

@-webkit-keyframes bs {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }

  50% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 20px 0 #1affff;
  }

  100% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }
}
@-moz-keyframes bs {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }

  50% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 20px 0 #1affff;
  }

  100% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }
}
@-o-keyframes bs {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }

  50% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 20px 0 #1affff;
  }

  100% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }
}
@keyframes bs {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }

  50% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 20px 0 #1affff;
  }

  100% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 0px 0 #b2ff1a;
  }
}
@-webkit-keyframes bs2-in {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 10px 0 #bbff33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@-moz-keyframes bs2-in {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 10px 0 #bbff33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@-o-keyframes bs2-in {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 10px 0 #bbff33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@keyframes bs2-in {
  0% {
    box-shadow: inset -1px 1px 3px 2px #444444, inset 1px -1px 3px 2px #222222, 0 0 10px 0 #bbff33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@-webkit-keyframes bs2 {
  0% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }

  50% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 10px 0 #ffbb33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@-moz-keyframes bs2 {
  0% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }

  50% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 10px 0 #ffbb33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@-o-keyframes bs2 {
  0% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }

  50% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 10px 0 #ffbb33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}
@keyframes bs2 {
  0% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }

  50% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 10px 0 #ffbb33;
  }

  100% {
    box-shadow: inset -1px 1px 5px 2px #444444, inset 1px -1px 5px 2px #222222, 0 0 0px 0 #ff3333;
  }
}

/* 3D 旋转照片墙 */

.image-3d {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -100px;
  transform-style: preserve-3d;
  perspective: 350px;
  height: 300px;
  width: 200px;
}

.image-3d img {
  width: 200px;
  position: absolute;
}

/* 页脚 */
.footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  padding: 20px;
  text-align: center;
  color: #bfbfbf;
}